<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>大发物流管理系统</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/css.css}" />
    <script type="text/javascript" th:src="@{/js/jquery1.9.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
    <script type="text/javascript"  th:src="@{/js/refresh.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/sdmenu.js}"></script>
    <script type="text/javascript" th:src="@{/js/laydate/laydate.js}"></script>
</head>

<body>
<div class="header">
    <div class="logo"><img  th:src="@{/img/logo.png}" /></div>

    <div class="header-right">
        <i class="icon-off icon-white"></i> <a id="modal-973558" href="#modal-container-973558" role="button" data-toggle="modal">注销</a>
        <div id="modal-container-973558" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:300px; margin-left:-150px; top:30%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">
                    注销系统
                </h3>
            </div>
            <div class="modal-body">
                <p>
                    您确定要注销退出系统吗？
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <a class="btn btn-primary" style="line-height:20px;" th:href="@{/tologout}"  >确定退出</a>
            </div>
        </div>
    </div>
</div>
<!-- 顶部 -->

<div id="middle">
    <div class="left">

        <script type="text/javascript">
            var myMenu;
            window.onload = function() {
                myMenu = new SDMenu("my_menu");
                myMenu.init();
            };
        </script>

        <div id="my_menu" class="sdmenu">
            <div >
                <span>货物管理</span>
                <a  th:href="@{/openticket}">电脑开票</a>
                <a  th:href="@{/detail}">入库明细/管理</a>
            </div>
            <div>
                <span>历史信息</span>
                <a th:href="@{/historyticket}">历史开票</a>
                <a th:href="@{/historydetail}">历史运输清单</a>
            </div>
            <div>
                <span>票据导出</span>
                <a th:href="@{/printticket}">开票数据导出</a>
                <a th:href="@{/printdetail}">运输清单导出</a>
            </div>
            <div>
                <span>个性化配置</span>
                <a th:href="@{/personal}">个性化配置</a>
            </div>
        </div>

    </div>
    <div class="Switch"></div>
    <script type="text/javascript">
        $(document).ready(function(e) {
            $(".Switch").click(function(){
                $(".left").toggle();

            });
        });
    </script>

    <div class="right"  id="mainFrame">

        <div class="right_cont">
            <ul class="breadcrumb">当前位置：
                <a href="#">首页</a> <span class="divider">/</span>
                <a href="#">货物管理</a> <span class="divider">/</span>
                入库明细
            </ul>

            <div class="title_right">
   	<span class="pull-right margin-bottom-5">
   		<a  class="btn btn-info btn-small"  id="modal-9735581" href="javascript:void(0)"
            @click="senddetils()">
   			<i class="icon-plus icon-white"></i> 发出选中</a>
   	</span>
                <strong>入库明细</strong>
            </div>

            <table class="table table-bordered table-striped table-hover">
                <tbody>
                <tr align="center">
                    <td nowrap="nowrap">选择</td>
                    <td nowrap="nowrap"><strong>序号</strong></td>
                    <td nowrap="nowrap"><strong>货单号</strong></td>
                    <td nowrap="nowrap"><strong>货物名称</strong></td>
                    <td><strong>件数</strong></td>
                    <td nowrap="nowrap"><strong>重量</strong></td>
                    <td nowrap="nowrap"><strong>立方数</strong></td>
                    <td nowrap="nowrap"><strong>单价</strong></td>
                    <td><strong>已付</strong></td>
                    <td><strong>提付</strong></td>
                    <td><strong>回付</strong></td>
                    <td nowrap="nowrap"><strong>运费总额</strong></td>
                    <td><strong>送货</strong></td>
                    <td><strong>自提</strong></td>
                    <td><strong>签回单</strong></td>
                    <td><strong>代收货款</strong></td>
                    <td><strong>入库日期</strong></td>
                    <td><strong>收货人</strong></td>
                    <td><strong>到货地址</strong></td>
                    <td><strong>电话</strong></td>
                    <td><strong>出库日期</strong></td>
                    <td width="80" nowrap="nowrap"><strong> 操作 </strong></td>
                </tr>

                <tr align="center"  v-for="ticket in datas">
                    <td>
                        <label v-if="ticket.sendTime==null">
                            <input type="checkbox" @click="addSelects(ticket.id)"  :id="ticket.id">
                        </label>
                    </td>
                    <td nowrap="nowrap" v-text="ticket.id">1</td>
                    <td nowrap="nowrap" v-text="ticket.goodId">张三</td>
                    <td nowrap="nowrap" v-text="ticket.goodsName">XXX</td>
                    <td nowrap="nowrap" v-text="ticket.goodsCount">15</td>
                    <td nowrap="nowrap" v-text="ticket.goodsWeight">3200</td>
                    <td nowrap="nowrap" v-text="ticket.goodsCube">15</td>
                    <td nowrap="nowrap" v-text="ticket.goodsUnitprice">200</td>
                    <td nowrap="nowrap" v-text="ticket.payType == 1 ? '是':''">是</td>
                    <td nowrap="nowrap" v-text="ticket.payType == 2 ? '是':''">是</td>
                    <td nowrap="nowrap" v-text="ticket.payType == 3 ? '是':''">是</td>
                    <td nowrap="nowrap" v-text="ticket.payCount">2000</td>
                    <td nowrap="nowrap" v-text="ticket.sendType == 1 ? '是':''"></td>
                    <td nowrap="nowrap" v-text="ticket.sendType == 2 ? '是':''"></td>
                    <td nowrap="nowrap" v-text="ticket.writeBack == 1 ? '是':''">是</td>
                    <td nowrap="nowrap" v-text="ticket.collection">2000</td>
                    <td nowrap="nowrap" v-text="ticket.dateValue">2015-12-12</td>
                    <td nowrap="nowrap" v-text="ticket.toName">2015-12-12</td>
                    <td nowrap="nowrap" v-text="ticket.toPlace">0000000008</td>
                    <td nowrap="nowrap" v-text="ticket.toPhone">12345678901</td>
                    <td nowrap="nowrap" v-text="ticket.sendTimeValue ==null ? '':ticket.sendTimeValue">2017-2-12</td>
                    <td nowrap="nowrap">
                        <a href="javascript:void(0)"  @click="del(ticket.id)">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="page_show">
                <ul>
                    <li v-if="currentPage !=1 && totalPages > 1">
                        <a  href="javascript:void(0)" @click="toPage(currentPage-1)">上一页</a>
                    </li>

                    <li  v-for="index in end">
                        <span  v-if="index == currentPage && index>0"  v-text="index"></span>
                        <a href="javascript:void(0)" v-if="index != currentPage && index>0"  @click="toPage(index)">[{{index}}]</a>
                    </li>

                    <li v-if="currentPage < totalPages">
                        <a href="javascript:void(0)" @click="toPage(currentPage+1)">下一页</a>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>

<!-- 底部 -->
<div id="footer">


</div>

<script type="text/javascript"  th:src="@{/js/refresh.js}"></script>

<script>
    !function(){
        laydate.skin('molv');
        laydate({elem: '#Calendar'});
        laydate.skin('molv');
        laydate({elem: '#Calendar2'});
    }();

</script>

</body>
</html>
