<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>物流管理系统</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" th:href="@{/css/css.css}" />
	<script type="text/javascript" th:src="@{/js/jquery1.9.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sdmenu.js}"></script>
	<script type="text/javascript" th:src="@{/js/laydate/laydate.js}"></script>

</head>

<body>
	<div class="header">
		 <div class="logo"><img  th:src="@{img/logo.png}" /></div>
	     
					<div class="header-right">
						<i class="icon-off icon-white"></i> <a id="modal-973558" href="#modal-container-973558" role="button" data-toggle="modal">注销</a>
						<div id="modal-container-973558" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:300px; margin-left:-150px; top:30%">
					<div class="modal-header">
						 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">
							注销系统
						</h3>
					</div>
					<div class="modal-body">
						<p>
							您确定要注销退出系统吗？
						</p>
					</div>
					<div class="modal-footer">
						 <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <a class="btn btn-primary" style="line-height:20px;" th:href="@{/tologout}" >确定退出</a>
					</div>
				</div>
					</div>
	</div>
	<!-- 顶部 -->     
     <!--内容页-->
	<div id="middle">
		<!--left content-->
	     <div class="left">
	     	 <!--菜单栏脚本-->
		     <script type="text/javascript">
				var myMenu;
				window.onload = function() {
					myMenu = new SDMenu("my_menu");
					myMenu.init();
				};
			</script>
	
			<!--菜单栏-->
		    <div id="my_menu" class="sdmenu">
				<div >
					<span>货物管理</span>
					<a  th:href="@{/openticket}">电脑开票</a>
					<a  th:href="@{/detail}">入库明细/管理</a>
				</div>
				<div>
					<span>历史信息</span>
					<a th:href="@{/historyticket}">历史开票</a>
					<a th:href="@{/historydetail}">历史运输清单</a>
				</div>
				<div>
					<span>票据导出</span>
					<a th:href="@{/printticket}">开票数据导出</a>
					<a th:href="@{/printdetail}">运输清单导出</a>
				</div>
				<div>
					<span>个性化配置</span>
					<a th:href="@{/personal}">个性化配置</a>
				</div>
		    </div>
	
	     </div>
	     <div class="Switch"></div>
	     <script type="text/javascript">
			$(document).ready(function(e) {
		    $(".Switch").click(function(){
			$(".left").toggle();
			 
				});
				});
		 </script>
	
	     <div class="right"  id="mainFrame">
	     
		     <div class="right_cont">
				<ul class="breadcrumb">当前位置：
				  <a href="#">首页</a> <span class="divider">/</span>
				  <a href="#">货物管理</a> <span class="divider">/</span>
				  电脑开票
				</ul>
			   <div class="title_right">
			   		<strong>开票页</strong>
				   	<span class="pull-right margin-bottom-5">
				   		<a  class="btn btn-info btn-small"  href="#modal-from" data-toggle="modal">
				   			<i class="icon-plus icon-white"></i>选择发货地址</a>
				   	</span>
				   	<span class="pull-right margin-bottom-5">
				   		<a  class="btn btn-info btn-small"  href="#modal-to" data-toggle="modal">
				   			<i class="icon-plus icon-white"></i>选择收货地址</a>
				   	</span>
			   </div>  
			   <div style="width:900px; margin:auto">
			   	<!--startprint1-->
				   <form id="ticketForm"  th:action="@{/detail/saveticket}" method="post">
				       <input type="hidden" name="uid" th:value="${uid}"/>
					   <table   class="table_print table table-bordered table_height" cellpadding="0" cellspacing="0">
				       	     <tr>
				       	     	<td colspan="13"  style="text-align: center;">
				       	     		<h3><span th:text="${company}"></span>专用票据  </h3>
				       	     		<div>
				       	     			<div class="t_left">
				       	     				托运日期：
											<input type="text" class="laydate-icon span1-1" name="dateValue" id="Calendar" th:value="${dateValue}"/>
				       	     			</div>
				       	     			<div class="t_right">
				       	     				货单号：<input type="text" class="span1-1" name="goodId" th:value="${goodId}"/>

				       	     			</div>
				       	     		</div>
				       	     	</td>
				       	      </tr> 	
					         <tr>
							     <td width="80px" bgcolor="#f1f1f1">发货人：</td>
							     <td colspan="3"><input type="text"class="text" name="fromName"/></td>
							     <td bgcolor="#f1f1f1" width="80px">发货地址：</td>
							     <td colspan="2" width="100px" >
								     	
								     	<input type="text" class="text" name="fromPlace" id="from_val" />
								     
						
							     </td>
							     <td colspan="2" bgcolor="#f1f1f1">发货人电话：</td>
							     <td colspan="2"><input type="text" class="text" name="fromPhone"/></td>
					     	 </tr>
					     	 <tr>
							     <td bgcolor="#f1f1f1">收货人：</td>
							     <td colspan="3"><input class="text" name="toName"/></td>
							     <td bgcolor="#f1f1f1">收货地址：</td>
							     <td colspan="2">
							     			<input type="text" class="text" name="toPlace" id="to_val"  />
							     		
							     </td>
							     <td colspan="2" bgcolor="#f1f1f1">收货人电话：</td>
							     <td colspan="2"><input type="text" class="text" name="toPhone" /></td>
					     	  </tr>
					     	 <tr>
							     <td width="80px" bgcolor="#f1f1f1">货物名称：</td>
							     <td colspan="2">
							     	
							     		<input type="text" class="text"  id="good_val" name="goodsName"/>
							     
							     </td>
							     
							     <td bgcolor="#f1f1f1" width="60px"><span id="unit_val">件</span>数
							     	：</td>
							     
							     <td>
							     	
							     	 <!--
							     	    注意事项立着写
							     	    
							     	 	
							     	 -->	
							     		<input type="number" class="text" id="count" name="goodsCount" />
							     	 
							     </td>
							     <td bgcolor="#f1f1f1" width="70px">立方数</td>
							     <td width="80px">
							     	<input type="number" class="text" id="cube" name="goodsCube"  />
							     </td>
							     <td bgcolor="#f1f1f1" width="80px">重量（吨）：</td>
							     <td width="80px"><input type="number" class="text" name="goodsWeight"/></td>
					     	 	<td bgcolor="#f1f1f1" width="90px">单价（元）：</td>
					     	 	<td><input type="number" class="text"  id="per" name="goodsUnitprice"/></td>
					     	 </tr>
					     	 <tr>
							     <td bgcolor="#f1f1f1">送货方式：</td>
							     <td colspan="2">

							     		<input type="radio" name="sendType" th:value="1"   />
								       		送货&nbsp;&nbsp;&nbsp;&nbsp;
								         <input type="radio" name="sendType" th:value="2" />
								         自提&nbsp;&nbsp;&nbsp;&nbsp;
							     </td>
							     <td bgcolor="#f1f1f1">
							     	签回单
							     </td>
							     <td>
									<input type="hidden" value="0" name="writeBack"/>
							     	<input type="checkbox"  id="writeBack" onclick="writeBackChange()"/>
								       是 
							     </td>
							     <td bgcolor="#f1f1f1">运费支付：</td>
							     <td  colspan="3" width="200px">
							     	<input type="radio"  name="payType" value="1"/>
								       已付&nbsp;&nbsp;&nbsp;&nbsp;
								         <input type="radio" name="payType"  value="2"/>
								         提付&nbsp;&nbsp;&nbsp;&nbsp;
								         <input type="radio" name="payType" value="3" />
								         回付
							     </td>
							     
							     
							     <td bgcolor="#f1f1f1" width="120px">运费总金额（元）：</td>
							     <td><input type="text" class="text"  id="moneyResult" name="payCount"/>
					     	 </tr>	
					     	 <tr>
							     <td bgcolor="#f1f1f1">代收货款：</td>
							     <td  colspan="10">
							     	<div class="m_left">
							     		（大写）：<span id="m4"></span>万
							     		<span id="m3"> </span>仟
							     		<span id="m2"> </span>佰
							     		<span id="m1"> </span>拾
							     		<span id="m0"> </span>元
							     	</div>
							     	<div class="m_right">
							     		(小写):
							     		<input type="text" id="money_input"   name="collection"/>元
							     	</div>
							     </td>
					     	 </tr>	
					     	 <tr>
							     <td bgcolor="#f1f1f1">提货人：</td>
							     <td colspan="2">
							     	<input type="text" class="text" name="consignee"/>
							     </td>
							     <td  bgcolor="#f1f1f1" colspan="3">提货人证件号码</td>
							     <td colspan="5">
							     	<input type="text" class="text" name="consigneePhone" />
							     </td>
					     	 </tr>	
				       		 <tr>
				       		 	<td colspan="11">
				       		 		<div class="warn_bt">
				       		 			注<br>意<br>事<br>项
				       		 		</div>
				       		 		<div class="warn_con">
				       		 			1本货运单等同运输合同，具有法律效力。2货物包装应符合行业标准；
				       		 			否则造成损失由托运人自负，易碎易损物品发生损坏；由发货人自负。
				       		 			3货物外包装完好 ，内部出现问题由发货人自负。
				       		 			4货物保价按5%收取保价费，货物丢失，损坏按保价赔偿，
				       		 			货物如不按保价，发生损坏，丢失按货物运费的2，5倍赔偿。
				       		 			5自提货物逾期一个月不取，按无主处理。6收货人收货签字后本 自然终止。
				       		 			此单存查期为30天，过期作废。
				       		 		</div>
				       		 	</td>
				       		 </tr>

				       </table>
			   <!--endprint1-->
			       <table  class="margin-bottom-20 table  no-border" >
					        <tr>
					     	<td class="text-center"><input type="button"  onclick="preview()" value="保存" class="btn btn-info " style="width:80px;" /></td>
							</tr>
			 			</table>
				   </form>
			   </div>
		     			<div id="modalForm">
		     			    <div id="modal-from" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:600px; margin-left:-300px; top:20%">
										<div class="modal-header">
											 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h3 id="myModalLabel">
												发货地址
											</h3>
										</div>
										<div>
											<div class="mis_head">
												请选择
											</div>
											
											<div class="mis_con">
												<label v-for="item in fromList">
													<input type="radio" @change="addFromPlace(item.place)" name="check"><span v-text="item.place"></span>
												</label>
											</div>
										
										</div>
										
										<div class="modal-footer">
											 <button class="btn btn-info" data-dismiss="modal" aria-hidden="true" onclick="sureFromSave()" style="width:80px">保存</button> 
						                     <button class="btn btn-info" data-dismiss="modal" aria-hidden="true" style="width:80px">取消</button> 
										</div>
							</div>
		     			    <div id="modal-to" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:600px; margin-left:-300px; top:20%">
										<div class="modal-header">
											 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h3 id="myModalLabel">
												收货地址
											</h3>
										</div>
										<div>
											<div class="mis_head">
												请选择
											</div>

											<div class="mis_con">
												<label v-for="item in toList">
													<input type="radio" @change="addToPlace(item.place)" name="check"/>
													<span v-text="item.place"></span>
												</label>
											</div>
										</div>
										
										<div class="modal-footer">
											 <button class="btn btn-info" data-dismiss="modal" aria-hidden="true" onclick="sureToSave()" style="width:80px">保存</button> 
						                     <button class="btn btn-info" data-dismiss="modal" aria-hidden="true" style="width:80px">取消</button> 
										</div>
							</div>
						</div>
		     			    <!--<div id="modal-showType" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:600px; margin-left:-300px; top:20%">
										<div class="modal-header">
											 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h3 id="myModalLabel">
												商品单位
											</h3>
										</div>
										<div>
											
											<div class="mis_con" id="goodCon">		
												
											</div>	
										
										</div>
										
										<div class="modal-footer">
											 <button class="btn btn-info" data-dismiss="modal" aria-hidden="true" onclick="sureToSave()" style="width:80px">保存</button> 
						                     <button class="btn btn-info" data-dismiss="modal" aria-hidden="true" style="width:80px">取消</button> 
										</div>
							</div>	-->
		     </div>     
	     </div>
	</div>
	    
<!-- 底部 -->
	<div id="footer">

		
	</div>
	    
    

 
	<script>

	$(function () {
        writeBackChange();
    })	
	function writeBackChange(){
        if ($("#writeBack").attr('checked')) {
            $("input[name='writeBack']").val(1);
		}else{
            $("input[name='writeBack']").val(0);
		}
	}

	function checkVal(value){
		if (value==null || value ==undefined ||value.trim() == ""){

			return false;
		}
		return true;
	}

	function preview()
	{

        var value1=$('input:radio[name="sendType"]:checked').val();

	    var value2=$('input:radio[name="payType"]:checked').val();

	    if (checkVal(value1) &&  checkVal(value2)) {
            $("#ticketForm").submit();
        }else{
	        alert("请选择送货(支付)方式");
		}
	}
			
		
	!function(){
	laydate.skin('molv');
	laydate({elem: '#Calendar'});
	}();
	 
	</script>
	
	<script th:src="@{js/content.js}"></script>

 
</body>
</html>
