<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>物流管理系统</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" th:href="@{/css/css.css}" />
	<script type="text/javascript" th:src="@{/js/jquery1.9.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sdmenu.js}"></script>
	<script type="text/javascript" th:src="@{/js/laydate/laydate.js}"></script>

</head>

<body>
<div class="header">
	 <div class="logo"><img  th:src="@{/img/logo.png}" /></div>
     
				<div class="header-right">
					<i class="icon-off icon-white"></i> <a id="modal-973558" href="#modal-container-973558" role="button" data-toggle="modal">注销</a>
					<div id="modal-container-973558" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:300px; margin-left:-150px; top:30%">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						注销系统
					</h3>
				</div>
				<div class="modal-body">
					<p>
						您确定要注销退出系统吗？
					</p>
				</div>
				<div class="modal-footer">
					 <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <a class="btn btn-primary" style="line-height:20px;" th:href="@{/tologout}"  >确定退出</a>
				</div>
			</div>
				</div>
</div>
<!-- 顶部 -->     
            
<div id="middle">
     <div class="left">
     
     <script type="text/javascript">
	var myMenu;
	window.onload = function() {
		myMenu = new SDMenu("my_menu");
		myMenu.init();
	};
	</script>

		<div id="my_menu" class="sdmenu">
			<div >
				<span>货物管理</span>
				<a  th:href="@{/openticket}">电脑开票</a>
				<a  th:href="@{/detail}">入库明细/管理</a>
			</div>
			<div>
				<span>历史信息</span>
				<a th:href="@{/historyticket}">历史开票</a>
				<a th:href="@{/historydetail}">历史运输清单</a>
			</div>
			<div>
				<span>票据导出</span>
				<a th:href="@{/printticket}">开票数据导出</a>
				<a th:href="@{/printdetail}">运输清单导出</a>
			</div>
			<div>
				<span>个性化配置</span>
				<a th:href="@{/personal}">个性化配置</a>
			</div>
	     </div>

     </div>
     	<div class="Switch"></div>
	     <script type="text/javascript">
			$(document).ready(function(e) {
		    $(".Switch").click(function(){
			$(".left").toggle();
			 
				});
		});
		</script>

     <div class="right"  id="mainFrame">
     
     <div class="right_cont">
		 <ul class="breadcrumb">当前位置：
		  <a href="#">首页</a> <span class="divider">/</span>
		  <a href="#">详细内容</a> <span class="divider">/</span>
		  运输清单
		</ul>
      
   <div class="title_right" id="rightCon">
			<span class="pull-right margin-bottom-5">
				<a  class="btn btn-info btn-small"  id="modal1" href="#from-line" role="button" data-toggle="modal">
					<i class="icon-plus icon-white"></i> 选择发货线路</a>
			</span>
	        <span class="pull-right margin-bottom-5">
				<a  class="btn btn-info btn-small"  id="modal2" href="#to-line" role="button" data-toggle="modal">
					<i class="icon-plus icon-white"></i> 选择收货线路</a>
			</span>
   	<strong>运输清单</strong>
   </div>
    
    
 
<!--   <!--后期添加模态框弹出选择-->
		 <div id="line">
				 <div id="from-line" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:600px; margin-left:-300px; top:20%">
					 <div class="modal-header">
						 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						 <h3 id="myModalLabel">
							 发货线路管理
						 </h3>
					 </div>
					 <div>
						 <td>
							 <label v-for="item in fromLine">
								 <input type="radio" @change="changeFromLine(item.loadPlace)" name="check"><span v-text="item.loadPlace"></span>
							 </label>
						 </td>
					 </div>
					 <div class="modal-footer">
						 <button class="btn btn-info" data-dismiss="modal" aria-hidden="true" style="width:80px">保存</button>
						 <button class="btn btn-info" data-dismiss="modal" aria-hidden="true" style="width:80px">取消</button>
					 </div>
				 </div>
				 <div id="to-line" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:600px; margin-left:-300px; top:20%">
					 <div class="modal-header">
						 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						 <h3 id="myModalLabel">
							 收货线路管理
						 </h3>
					 </div>
					 <div>
						 <td>
							 <label v-for="item in toLine">
								 <input type="radio" @change="changeToLine(item.loadPlace)" name="check"><span v-text="item.loadPlace"></span>
							 </label>
						 </td>
					 </div>
					 <div class="modal-footer">
						 <button class="btn btn-info" data-dismiss="modal" aria-hidden="true" style="width:80px">保存</button>
						 <button class="btn btn-info" data-dismiss="modal" aria-hidden="true" style="width:80px">取消</button>
					 </div>
				 </div>
		 </div>
  <form id="myForm" th:action="@{/senddetails/finish}" method="post">
	   <table class="table table-bordered table-striped table-hover">
		 <tbody>
			<tr align="center">
				<td colspan="20">
					<h3><span th:text="${company}"></span>出货票据
					</h3>
					<h5>
						<span id="from" th:text="${sends.fromLine}"></span>----<span id="to" th:text="${sends.toLine}"></span>货物运输清单
					</h5>
					<div class="t_left">
						承运车号：<input type="text" class="span1-1" id="carid" name="carid" th:value="${sends.carid}"/>
					</div>
					<div class="t_right">
						装车日期：
						<input type="text" class="laydate-icon span1-1"
							   name="loadTimeValue" th:value="${sends.loadTimeValue}"
							   id="Calendar"/>
					</div>
					<div>
						第(1)页
					</div>
				</td>
			</tr>
		   <tr align="center">
			 <td nowrap="nowrap"><strong>序号</strong></td>
			 <td nowrap="nowrap"><strong>货单号</strong></td>
			 <td nowrap="nowrap"><strong>货物名称</strong></td>
			 <td nowrap="nowrap"><strong>件数</strong></td>
			 <td><strong>重量</strong></td>
			 <td><strong>立方数</strong></td>
			 <td><strong>已付</strong></td>
			 <td><strong>提付</strong></td>
			 <td><strong>回付</strong></td>
			 <td><strong>运费总额</strong></td>
			 <td><strong>送货</strong></td>
			 <td><strong>自提</strong></td>
			 <td><strong>签回单</strong></td>
			 <td><strong>代收货款</strong></td>
			 <td><strong>收货人</strong></td>
			 <td><strong>到货地址</strong></td>
			 <td><strong>电话</strong></td>
			 <td><strong>出库日期</strong></td>
			 <td><strong>收货人签字</strong></td>
			 <td><strong>签收日期</strong></td>

			 </tr>

		   <tr align="center" th:each="sends,iterStat:${list}">
				 <td nowrap="nowrap" name="id" th:value="${iterStat.index+1}">1</td>
				 <td nowrap="nowrap" th:text="${sends.goodId}">00008</td>
					<input  type="hidden" name="goodId" th:value="${sends.goodId}"/>
				 <td nowrap="nowrap" th:text="${sends.goodsName}">箱子</td>
					<input type="hidden" name="goodsName" th:value="${sends.goodsName}"/>
				 <td nowrap="nowrap" th:text="${sends.goodsCount}">1200</td>
					<input  type="hidden" name="goodsCount" th:value="${sends.goodsCount}"/>
				 <td nowrap="nowrap" th:text="${sends.goodsWeight}">22</td>
					<input type="hidden" name="goodsWeight" th:value="${sends.goodsWeight}"/>
				 <td nowrap="nowrap" th:text="${sends.goodsCube}">2000</td>
					<input type="hidden" name="goodsCube" th:value="${sends.goodsCube}" />
				 <td nowrap="nowrap" th:text="${sends.payType == 1 ?'是':''}">5000</td>
				 <td nowrap="nowrap" th:text="${sends.payType == 2 ?'是':''}"></td>
				 <td nowrap="nowrap" th:text="${sends.payType == 3 ?'是':''}">2000</td>
					<input type="hidden" name="payType" th:value="${sends.payType}"/>
				 <td nowrap="nowrap"  th:text="${sends.payType == 2 ? sends.payCount :''}"></td>
					<input type="hidden" name="payCount" th:value="${sends.payCount}"/>
				 <td nowrap="nowrap"  th:text="${sends.sendType == 1 ? '是' : ''}"></td>
				 <td th:text="${sends.sendType == 2 ? '是':''}">是</td>
					<input type="hidden" name="sendType" th:value="${sends.sendType}"/>
				 <td th:text="${sends.writeBack ==1 ?'是':''}"></td>
					<input  type="hidden" name="writeBack" th:value="${sends.writeBack}"/>
				 <td th:text="${sends.collection}"></td>
					<input type="hidden" name="collection" th:value="${sends.collection}" />
				 <td  th:text="${sends.toName}">张三</td>
				   <input type="hidden" name="toName" th:value="${sends.toName}" />
				 <td  th:text="${sends.toPlace}">黑龙江哈尔滨</td>
				   <input type="hidden" name="toPlace" th:value="${sends.toPlace}"/>
				 <td  th:text="${sends.toPhone}">12345678901</td>
				   <input type="hidden" name="toPhone" th:value="${sends.toPhone}"/>
				 <td  th:text="${sends.sendTimeValue}">
					 2012-12-12
				 </td>
				   <input type="hidden" name="sendTimeValue" th:value="${sends.sendTimeValue}"/>
				 <td nowrap="nowrap"></td>
				 <td nowrap="nowrap"></td>
			 </tr>
			<input type="hidden" name="sid" th:value="${sends.sid}"/>
			<input type="hidden" name="fromLine" th:value="${sends.fromLine}"/>
		 	<input type="hidden" name="toLine" th:value="${sends.toLine}"/>
		 </tbody>
	   </table>
	   <table  class="margin-bottom-20 table  no-border" >
			<tr>
				<td class="text-center">
					<input th:if="${sends.savePath} == null" type="button" value="保存" onclick="checkMsg()"  class="btn btn-info" style="width:80px;" />
					<input th:if="${sends.savePath} != null" type="button" value="打印" th:onclick="|download(${sends.sid})|" class="btn btn-info" style="width:80px;" />
				</td>
			</tr>
		</table>
  </form>
   
     </div>     
     </div>
    </div>
    
<!-- 底部 -->
<div id="footer">

</div>
    
    

 <script>
!function(){
laydate.skin('molv');
laydate({elem: '#Calendar'});
laydate.skin('molv');
laydate({elem: '#Calendar2'});
}();
 
</script>

<script type="text/javascript" th:src="@{/js/sendlist.js}"></script>
 
</body>
</html>
