<script type="text/javascript">
    var time = 4;
    function returnUrlByTime() {
        window.setTimeout('returnUrlByTime()', 1000);
        time = time - 1;
        if(time<=0){
            time = 0;
            window.setTimeout("location.href='/login';", 0);
        }
        document.getElementById("layer").innerHTML = time;
    }
</script>
<body onload="returnUrlByTime()">
<div >
    <a href="javascript:void(0)" onclick="window.location.href='/login' " ><font size="5px" >恭喜您注册成功，<b><span id="layer">3</span></b>秒后会自动跳转，如果没有跳转，请点这里......</font></a></div>
</body>